
// DEMO CSS
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: hsl(218, 9%, 96%);
}

.container {
  margin: 0 auto;
  max-width: 80.0rem;
  padding: 0;
  position: relative;
  width: 100%;
  margin-top: 100px;
}
.navigation {
  display: block;
  left: 0;
  max-width: 100%;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 1;
  padding: 2rem;
  box-shadow: 0 2px 6px 0 hsla(0,0%,0%,0.2);
  -webkit-box-shadow: 0 2px 6px 0 hsla(0,0%,0%,0.2);
  -moz-box-shadow: 0 2px 6px 0 hsla(0,0%,0%,0.2);
  border-top: 6px solid #9b4dca;
  background: hsl(210,19,96%);
  color: hsl(24,12,30%);
}

.wrapper {
  display: block;
  overflow: hidden;
  position: relative;
  width: 100%;
}
.wrapper .container {
  max-width: 80rem;
}
.wrapper > .container {
  padding-bottom: 7.5rem;
  padding-top: 7.5rem;
}

.navigation .container {
  padding-bottom: 0;
  padding-top: 0;
}

@media(min-width:40rem) {
    .only-mobile {
      display: none;
    }
}
.content.container {
  padding-top: 14rem;
}
textarea.high {
  height: auto;
}
input[type=file] {
  visibility: hidden;
  width: 15rem;
  margin-left: -15rem;
}
button, .file-label {
	text-transform: uppercase;
	font-weight: light;
}
.file-label {
	font-weight: normal;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: rgba(0,0,0,0.2);
}
::-moz-placeholder { /* Firefox 19+ */
  color: rgba(0,0,0,0.2);
}
:-ms-input-placeholder { /* IE 10+ */
  color: rgba(0,0,0,0.2);
}
:-moz-placeholder { /* Firefox 18- */
  color: rgba(0,0,0,0.2);
}
.title {
  margin-bottom: 0;
}
