
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: hsl(218, 9%, 96%);
}
.container {
  margin: 0 auto;
  max-width: 80.0rem;
  padding: 2rem;
  position: relative;
  width: 100%;
}
.navigation {
  display: block;
  left: 0;
  max-width: 100%;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 1;
  padding: 2rem;
  box-shadow: 0 2px 6px 0 hsla(0,0%,0%,0.2);
  -webkit-box-shadow: 0 2px 6px 0 hsla(0,0%,0%,0.2);
  -moz-box-shadow: 0 2px 6px 0 hsla(0,0%,0%,0.2);
  border-top: 6px solid #9b4dca;
  background: hsl(210,19,96%);
  color: hsl(24,12,30%);
}
.wrapper {
  display: block;
  overflow: hidden;
  position: relative;
  width: 100%;
}
.wrapper .container {
  max-width: 80rem;
}
.wrapper > .container {
  padding-bottom: 7.5rem;
  padding-top: 7.5rem;
}
.navigation .container {
  padding-bottom: 0;
  padding-top: 0;
}
.content.container {
  padding-top: 14rem;
}
.row .column {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
select {
  margin-bottom: 0;
}
textarea.high {
  height: auto;
}
input[type=file] {
  visibility: hidden;
  height: 3.8rem;
  margin-top: -3.8rem;
  width: 15rem;
  margin-bottom: 0;
  cursor: pointer;
}
button, .file-label {
  text-transform: uppercase;
  font-weight: light;
  margin-bottom: 0;
  cursor: pointer;
}
button {
  margin-top: 1rem;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: rgba(0,0,0,0.2);
}
::-moz-placeholder { /* Firefox 19+ */
  color: rgba(0,0,0,0.2);
}
:-ms-input-placeholder { /* IE 10+ */
  color: rgba(0,0,0,0.2);
}
:-moz-placeholder { /* Firefox 18- */
  color: rgba(0,0,0,0.2);
}
.title {
  margin-bottom: 0;
}
a {
  color: #091345;
}
